/**
 * @file
 * Leaflet CSS
 */

/* More robust zoomslider styles re different themes */
.leaflet-touch .leaflet-bar {
  border-width: 3px;
  border-color: #00000034;
}
.leaflet-control .leaflet-control-zoomslider-in::after {
  content: "+";
}
.leaflet-control .leaflet-control-zoomslider-out::after {
  content: "-";
}
.leaflet-control .leaflet-control-zoomslider-in,
.leaflet-control .leaflet-control-zoomslider-out {
  font-size: 1.5rem;
  font-family: monospace;
  position: relative;
  transform: none;
  transition: none;
  position: static;
}
.leaflet-control .leaflet-control-zoomslider-in::after,
.leaflet-control .leaflet-control-zoomslider-out::after {
  display: block;
  width: 100%;
  border: none;
  color: #555;
  position: static;
  transition: none;
}
.leaflet-control .leaflet-control-zoomslider-body {
  box-sizing: content-box;
  background-color: #555;
}
.leaflet-control .leaflet-control-zoomslider-knob {
  margin: 0 !important;
  left: -8px;
  box-sizing: content-box;
}

/**
 * Workaround for the one-pixel-gap in Chrome.
 *
 * Fragile, hackish and temporary solution, also requires the map type as layer
 * css class to limit impact on affected map type only.
 *
 * @todo Remove as soon as issue #19 gets resolved.
 */
@supports (-webkit-appearance:none) and (not (-moz-appearance:none)) {
  .leaflet-layer.type-google img {
    width: 256.7px !important;
    height: 256.7px !important;
  }
}
